{% extends "agenda.html" %}

{% block content %}
<div>

    <h3 class="margin">Ataques mais comuns</h3>

    {% for attack in attacks %}

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ attack.nameAttack }}
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {{ attack.descritionAttack }}
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    {% endblock %}