{% extends "agenda.html" %}

{% block content %}
<section height="700px">

    <section id="Sobre">
        <div class="container-fluid about text-center margin">
            <h3 class="margin">Sobre</h3>
            <p id="container content-page">
                Somos comprometidos com o fornecimento de notícias sobre o mundo da cibersegurança, por isso desenvolvemos este site e assim
                fazendo com que mais pessoas possam entender melhor como funciona e quais os príncipais motivos que levam a um determinado ataque
                ou até mesmo guerras cibernéticas entre países.
            </p>
        </div>
    </section>

    <section id="servicos">
        <div class="container-fluid text-center margin servicos">
            <h3 class="margin">Serviços</h3>

            <div class="container">
                <div class="row">
                    <div class="col-sm card" style="width: 30rem;">
                        <img src="https://www.infowester.com/img_art/ddos.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">DDoS</h5>
                            <p class="content-page">Os ataques DoS (sigla para Denial of Service), que podem ser interpretados como "Ataques de Negação de Serviços", consistem em tentativas de fazer com que computadores - servidores Web, por exemplo - tenham dificuldade ou mesmo sejam impedidos de executar suas tarefas. Para isso, em vez de "invadir" o computador ou mesmo infectá-lo com malwares, o autor do ataque faz com que a máquina receba tantas requisições que esta chega ao ponto de não conseguir dar conta delas. Em outras palavras, o computador fica tão sobrecarregado que nega serviço.</p>
                            <a href="https://www.infowester.com/ddos.php" target="_blank" class="btn btn-primary">Ir para o link</a>
                        </div>
                    </div>
                    <div class="col-sm card" style="width: 30rem;">
                        <img src="https://s2.glbimg.com/zVM-7NtJEZKqI5RHyra_8GsHFsM=/0x0:695x421/984x0/smart/filters:strip_icc()/s.glbimg.com/po/tt2/f/original/2014/09/17/phishing1_1.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Phishing</h5>
                            <p class="content-page">O phishing é um dos ataques mais corriqueiros na Internet ultimamente, pois se trata de um golpe relativamente fácil de ser aplicado e atinge várias usuários ao mesmo tempo. Basta uma pessoa clicar em um link malicioso para ter dados pessoais roubados, como senhas de banco e, dependendo do tipo, até espalhar vírus e trojans à lista de contatos do celular ou redes sociais. Os programas de antivírus podem ajudar contra os ataques, principalmente as empresas.</p>
                            <a href="https://www.techtudo.com.br/listas/2018/06/os-dez-tipos-de-phishing-mais-comuns.ghtml" class="btn btn-primary">Ir para o link</a>
                        </div>
                    </div>
                    <div class="col-sm card" style="width: 30rem;">
                        <img src="https://s2.glbimg.com/-wG4_kNX2GpzSnkdyi7tgTJZWL0=/0x0:695x461/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2017/R/T/S1d0yqRXq9YZeQgQxS7w/golpe-tv.jpeg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Spyware</h5>
                            <p class="content-page">O spyware recolhe dados e transmite para administradores de acordo com o desejo dos desenvolvedores do malware. Por exemplo, dados pessoais e bancários costumam ser o alvo de organizações criminosas. Para empresas publicitárias, spywares podem fornecer informações sobre o comportamento do possível consumidor, hábitos online e o direcionamento de anúncios. Governos também podem adotar essa estratégia, em um esquema conhecido como "policeware" ou "govware".</p>
                            <a href="#" class="btn btn-primary">Ir para o link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid text-center bg-footer">
        Desenvolvidor por Gustavo S.
    </footer>

</section>
{% endblock %}